@keyframes dash {
    0% {
      transform: skew(-30deg,0deg) translateX(300%) scale(.8);
      opacity: 1;
    }

    40% {
      transform: skew(10deg,0deg) translateX(100%) scale(.9);
    }

    60% {
      transform: skew(10deg,0deg) translateX(-10px) scale(1.2);
    }

    70% {
      transform: skew(0,0deg) translateX(0) scale(1.3);
    }

    75% {
      transform: skew(0,0deg) translateX(0) scale(1.3);
    }

    90% {
      transform: skew(0,0deg) translateX(0) scale(.85);
    }

    100% {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }


  @keyframes done-animating {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(2);
    }

    100% {
      transform: scale(1);
    }
  }

  body {
    background: #0b0b25;
  }

  #inner-text {
    position: relative;
    z-index: 1;
  }

  #inner-text.done-animating {
    animation: done-animating 300ms ease-in;
  }

  #text-spot {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

 
  .letter:nth-child(1){
    display: inline-block;
    font-size: 120px;
    color: black !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(2){
    display: inline-block;
    font-size: 120px;
    color: white !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(3){
    display: inline-block;
    font-size: 120px;
    color: red !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(4){
    display: inline-block;
    font-size: 120px;
    color: white !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(5){
    display: inline-block;
    font-size: 120px;
    color: green !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(6){
    display: inline-block;
    font-size: 120px;
    color: black !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  
  .letter:nth-child(7){
    display: inline-block;
    font-size: 120px;
    color: black !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(8){
    display: inline-block;
    font-size: 120px;
    color: white !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(9){
    display: inline-block;
    font-size: 120px;
    color: red !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(10){
    display: inline-block;
    font-size: 120px;
    color: white !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(11){
    display: inline-block;
    font-size: 120px;
    color: green !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  .letter:nth-child(12){
    display: inline-block;
    font-size: 120px;
    color: black !important;
    letter-spacing: 10px;
    font-family: 'Luckiest Guy';
  }
  
  

  .letter.animate {
    animation: dash 500ms ease-in forwards;
    opacity: 0;
  }


  .hello{
    display: none;
  }